In [159]:
from shapely.geometry import Point
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster

In [160]:
tornado_sirens = pd.read_csv('../data/Tornado_Siren_locations.csv')
print(tornado_sirens.shape)
tornado_sirens.head(3)

(93, 6)

,Site Name,Address,City,Zip,Siren Power,Location
0,Ezell Road Park,5135 Harding Place,Nashville,37211,Eclipse 8,"(36.090944, -86.686028)"
1,Sevier Park,3000 Granny White Pike,Nashville,37204,Eclipse 8,"(36.118861, -86.787889)"
2,Fannie May Dees Park,2401 Blakemore Ave,Nashville,37212,Eclipse 8,"(36.136167, -86.8055)"

In [161]:
result=tornado_sirens['Location'].str.strip('()')                               \
                   .str.split(', ', expand=True)                   \
                   .rename(columns={0:'Lat', 1:'Lng'})

In [162]:
tornado_sirens = pd.concat([tornado_sirens , result], axis=1, join='inner')

In [163]:
tornado_sirens.dtypes

Site Name      object
Address        object
City           object
Zip             int64
Siren Power    object
Location       object
Lat            object
Lng            object
dtype: object

In [164]:
tornado_sirens["Lat"] = tornado_sirens["Lat"].astype("float64")

In [165]:
tornado_sirens["Lng"] = tornado_sirens["Lng"].astype("float64")

In [166]:
tornado_sirens.dtypes

Site Name       object
Address         object
City            object
Zip              int64
Siren Power     object
Location        object
Lat            float64
Lng            float64
dtype: object

In [167]:
tornado_sirens['geometry'] = tornado_sirens.apply(lambda x: Point((x.Lng, 
                                                         x.Lat)), 
                                        axis=1)
tornado_sirens.head(3)

,Site Name,Address,City,Zip,Siren Power,Location,Lat,Lng,geometry
0,Ezell Road Park,5135 Harding Place,Nashville,37211,Eclipse 8,"(36.090944, -86.686028)",36.090944,-86.686028,POINT (-86.68602799999999 36.090944)
1,Sevier Park,3000 Granny White Pike,Nashville,37204,Eclipse 8,"(36.118861, -86.787889)",36.118861,-86.787889,POINT (-86.78788900000001 36.118861)
2,Fannie May Dees Park,2401 Blakemore Ave,Nashville,37212,Eclipse 8,"(36.136167, -86.8055)",36.136167,-86.805500,POINT (-86.80549999999999 36.136167)